/* Your SCSS here. */
/* $light-color:rgb(232, 240, 247); // var for beige color
$dark-color:rgb(8, 6, 40); // var for dark brown color */



html { 
    margin: 0;
    padding: 0;  
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #240530;
    color: rgb(232, 240, 247);
    overflow-y: auto;
    max-width: 100%;
    overflow-x: hidden;
    /* // width: 100vw;
    // height: 100vh; */
}

h1 {
    
    font-weight: 900;
    /* // letter-spacing: .1em; */
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-style: italic;
}
.p-italics {
    font-weight: 700;
    font-style: italic;
}


.hero {
    font-family: 'Playfair Display', serif;
    letter-spacing: .15em;
    color: rgb(243, 244, 248);
    justify-content: center;
    display: flex;
    align-items: center;
    background-position: center;
    font-size: 2em;

}

header {
    background-color: rgb(8, 6, 40);
    color: rgb(232, 240, 247);
    position: sticky;
    top: 0;
    z-index: 1;
}

#navbar {
    display: flex;
    padding: 1em;
    transition: .4s;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    
}

.nav-sects {
    
    display: flex;
    gap: 2%;
    list-style: none;
    align-items: center;
    
}

.nav-sects a {
    
    text-decoration: none;
    color: rgb(232, 240, 247);
    font-size: 1em;
    padding-right: .4em;
    font-weight: 600;
    
}

.nav-sects li {
    padding: 1%;
    margin: 0;
    white-space: nowrap;
   
}

.title {
    transition: .4s;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 0.25em;
    padding: .5em;
    
}

.nav-sects a.active {
    color: rgb(8, 6, 40);
    background-color: rgb(232, 240, 247);
    border-radius: 4px;
    padding: 4px;
}

#navbar a:hover {
    color: rgb(232, 240, 247);
    background-color: rgba(231, 233, 243, 0.5);
    border-radius: 4px;
    padding: 4px;
}

#img-background {
    background-image: url('../assets/background.PNG');
    background-size: cover; 
    padding: 200px 30px;
    opacity: 0.65;
    background-attachment: fixed;
}

@media screen and (max-width: 768px) {

    .nav-sects {
        flex-direction: column;
        align-items: flex-end;
    }
    .nav-sects a {
        margin-right: 10px;
        font-size: .8em;
    }
    .nav-sects a:last-child {
        margin-right: 0;
    }

    .title {
        font-size: 1.5em;
    }

    .modal {
        width: 50%;
        max-height: 55%;
        padding: 10px;
    }

}

.carousel {
    position: relative;
    width: 400px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    padding-bottom: 4.5%;
    padding-top: 1.5%;
}

.carousel-slides {
    display: flex;
    position: relative;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    flex: 0 0 100%;
    position: relative;
}

.carousel-item img {
    height: auto;
    max-width: 100%;
    border-radius: 4px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: rgb(232, 240, 247);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
.prev:hover, .next:hover {
    background-color: rgba(231,221,204,0.4);
}

.fade {
    animation-name: fade;
    animation-duration: 1.8s;
}

@keyframes fade {
    from {opacity: .45} 
    to {opacity: 1}
}

.learn-more {
    background-color: rgb(165, 144, 176);
    padding-top: 2.5%;
    text-align: center;
    padding-bottom: 4%;
 
}

.learn-more p {
    letter-spacing: 2px;
}

.multi-col-modal {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: fit-content;
}

.col {
    flex: 0 0 33.3%;
    padding: 10px;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    max-width: 100%;
    justify-content: center;
    align-items: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    overflow: auto;
    left: 50%;
    top: 50%;
    padding-top: 50px;
    width: 70%;
    height: 70%;
    justify-content: center;
    align-items: center;
    background-color: rgb(232, 240, 247);
    transform: translate(-50%, -50%);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
    position: relative;
}

.modal-caption {
    color: rgb(8, 6, 40);
    padding: 10px;
    text-align: center;
}

.caption {
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(8, 6, 40);
    color: rgb(232, 240, 247);
    padding: 8px;
    border-radius: 3px;
    letter-spacing: 2px;
    font-weight: 600;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 30px;
    cursor: pointer;
    color: rgb(8, 6, 40);
}

.image {
    width: 100%;
    height: auto;
    cursor: pointer;
    border-radius: 5px;
}

.video-sect {
    background-color: rgb(147, 126, 158);
    text-align: center;
    padding: 20px;
    padding-top: 2%;
    padding-bottom: 5%;
}

video {
    border: 5px solid rgb(8, 6, 40);
    max-width: 100%;
}

footer {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 20px;
    background-color: rgb(8, 6, 40);
    color: rgb(232, 240, 247);
    text-align: center;
    padding-bottom: 5%;
}

.dropDown span {
    display: inline-block;
    opacity: 0;
    transform: translateY(-50px);
    letter-spacing: .25em;
    padding-bottom: 1em;
}

.dropDown.animate span {
    animation: drop 0.5s forwards;
}

.dropDown.animate span:nth-child(1) {
    animation-delay: 0.2s;
}

.dropDown.animate span:nth-child(2) {
    animation-delay: 0.4s;
}

.dropDown.animate span:nth-child(3) {
    animation-delay: 0.6s;
}

@keyframes drop {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10em;
}

.icon {
    text-align: center;
}

.icon i {
    font-size: 2em;
    padding: 3%;
    color: rgb(232, 240, 247);
}

.icon p {
    margin: 0;
    letter-spacing: 1px;
}

.fa-instagram::before {
    content: "\f16d";
}

.fa-linkedIn::before {
    content: "\f08c";
}

.fa-git::before {
    content: "\f09b";
}

#backToTop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    font-size: 18px; /* Increase font size */
    border: 2.6px solid rgb(8, 6, 40); /* Remove borders */
    background-color: rgb(232, 240, 247);
    color: rgb(8, 6, 40); /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

#backToTop:hover {
    background-color: rgba(231, 233, 243, 0.5); /* Add a hover effect */
}   