/* Your SCSS here. */
$light-color:rgb(232, 240, 247); // var for beige color
$dark-color:rgb(8, 6, 40); // var for dark brown color

// html, body, h1, h2, h3, p, ul, li, a {
//     margin: 0;
//     padding: 0;
// }

html {
    // max-width: 100%;
    margin: 0;
    padding: 0;
    // overflow-x: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #240530;
    color: $light-color;
    overflow-y: auto;
    // max-width: 100%;
    overflow-x: hidden;
    // width: 100vw;
    // height: 100vh;
}

h1 {
    
    font-weight: 900;
    // letter-spacing: .1em;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-style: italic;
}
.p-italics {
    font-weight: 700;
    font-style: italic;
    padding-bottom: 25px;
    letter-spacing: .1em;
}

// main {
//     // width: 100vw;
//     // height: 100vh;
//     max-width: 100%;
//     margin: 0;
// }

.hero-text {
    font-family: 'Playfair Display', serif;
    letter-spacing: .12em;
    color: rgb(243, 244, 248);
    // font-size: 1.5em;
    // max-width: 50%;
    // text-align: left;
}

.hero-text h4 {
    font-size: 2.35em;
}

/* Wave animation for the text */
.wave-text {
    display: inline-block;
}

.wave-text span {
    display: inline-block;
    font-size: 3rem;
    transition: transform 0.3s ease-in-out;
    // animation: none;
}

.wave-text span:nth-child(1) { animation-delay: 0s; }
.wave-text span:nth-child(2) { animation-delay: 0.1s; }
.wave-text span:nth-child(3) { animation-delay: 0.2s; }
.wave-text span:nth-child(4) { animation-delay: 0.3s; }
.wave-text span:nth-child(5) { animation-delay: 0.4s; }
.wave-text span:nth-child(6) { animation-delay: 0.5s; }
.wave-text span:nth-child(7) { animation-delay: 0.6s; }
.wave-text span:nth-child(8) { animation-delay: 0.7s; } 
.wave-text span:nth-child(9) { animation-delay: 0.8s; }
.wave-text span:nth-child(10) { animation-delay: 0.9s; }
.wave-text span:nth-child(11) { animation-delay: 1s; }
.wave-text span:nth-child(12) { animation-delay: 1.1s; }
.wave-text span:nth-child(13) { animation-delay: 1.2s; }
.wave-text span:nth-child(14) { animation-delay: 1.3s; }
.wave-text span:nth-child(15) { animation-delay: 1.4s; }
.wave-text span:nth-child(16) { animation-delay: 1.5s; }
.wave-text span:nth-child(17) { animation-delay: 1.6s; }

/* Keyframe for the wave effect */
@keyframes waveAnimation {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); } /* Adjust the rise height here */
}

/* Hover effect: trigger the wave animation when hovering over the text */
.wave-text.rise span {
    animation: waveAnimation .7s ease-in-out infinite; /* Start the animation on hover */
}

.content {
    gap: 10em;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
    // padding: 0 5%;
    // margin: 0 auto;
}

.hero-img {
    perspective: 1000px;
}

.hero-img img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    border: 5px solid $dark-color;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    // margin-left: 15em;
}

.hero-img img:hover {
    transform: rotateY(180deg);
}

header {
    background-color: $dark-color;
    color: $light-color;
    position: sticky;
    top: 0;
    z-index: 1;
}

#navbar {
    display: flex;
    padding: 1em;
    transition: .4s;
    // color: $light-color;
    justify-content: space-around;
    align-items: center;
    // z-index: 100;
    max-width: 100%;
    
}

.nav-sects {
    
    display: flex;
    gap: 2%;
    list-style: none;
    align-items: center;
    // overflow: auto;
}



.nav-sects a {
    // font-family: "Playfair Display", serif;
    text-decoration: none;
    color: $light-color;
    font-size: 1em;
    padding-right: .4em;
    font-weight: 600;
    // float: right;
    // text-align: center;
}

.nav-sects li {
    padding: 1%;
    margin: 0;
    white-space: nowrap;
    // float: right;
}

.title {
    transition: .4s;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 0.25em;
    padding: .5em;
    color: $light-color;
    list-style: none;
    text-decoration: none;
    // float: left;
}

.nav-sects a.active {
    color: $dark-color;
    background-color: $light-color;
    border-radius: 4px;
    padding: 4px;
}

#navbar a:hover {
    color: $light-color;
    background-color: rgba(231, 233, 243, 0.5);
    border-radius: 4px;
    padding: 4px;
}

#img-background {
    position: relative;
    overflow: hidden;
}

#img-background .content {
    position: relative;
    z-index: 1;
}

#img-background .bg-img {
    background-image: url('../assets/background.PNG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: scale(1);
    // opacity: 0.65;
    transition: transform .3s ease-out;
}

@media screen and (max-width: 768px) {
    // #navbar {
    //     padding: 0px !important;
    // }
    .nav-sects {
        flex-direction: column;
        align-items: flex-end;
    }
    .nav-sects a {
        // padding: 0.5rem 0;
        margin-right: 10px;
        font-size: .8em;
    }
    .nav-sects a:last-child {
        margin-right: 0;
    }

    .title {
        font-size: 1.5em;
    }

    // #navbar {
    //     padding: .5rem 5%;
    //     overflow: auto;
    // }
    .modal {
        width: 50%;
        max-height: 55%;
        padding: 10px;
    }

    // .modal-content {
    //     max-width: 40%;
    //     max-height: 40%;
    // }
    .caption-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .caption-wrapper .image,
    .caption-wrapper .caption {
        width: 100%;
        margin-left: 0;
    }

    .caption-wrapper .caption {
        margin-top: 20px;
        text-align: center;
    }
}

.scrollingTextContainer {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.scrollingText {
    display: inline-block;
    white-space: nowrap;
    font-size: 2rem;
    animation: scrolling 5s linear infinite;
    font-weight: 800;
    // position: absolute;
    // left: 100%;
    width: 100%;
    // overflow: hidden;
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.work {
    background-color: rgb(29, 29, 31);
    padding-top: 2.5%;
    text-align: center;
    padding-bottom: 4%;
    overflow: hidden;
}

// .carousel-slides {
//     display: flex;
//     position: relative;
//     transition: transform 0.5s ease-in-out;
// }

// .carousel-item {
//     flex: 0 0 100%;
//     position: relative;
// }

// .carousel-item img {
//     height: auto;
//     max-width: 100%;
//     border-radius: 4px;
// }

// .prev, .next {
//     cursor: pointer;
//     position: absolute;
//     top: 50%;
//     width: auto;
//     padding: 16px;
//     margin-top: -22px;
//     color: $light-color;
//     font-weight: bold;
//     font-size: 18px;
//     transition: 0.6s ease;
//     border-radius: 0 3px 3px 0;
// }
  
// .next {
//     right: 0;
//     border-radius: 3px 0 0 3px;
// }
  
// .prev:hover, .next:hover {
//     background-color: rgba(231,221,204,0.4);
// }

// .fade {
//     animation-name: fade;
//     animation-duration: 1.8s;
// }

// @keyframes fade {
//     from {opacity: .45} 
//     to {opacity: 1}
// }

.typing-animation {
    font-size: 2rem;
    white-space: nowrap;
    overflow: hidden;
    
}

.typed-text {
    letter-spacing: .2em;
}

.cursor {
    font-weight: 800;
    font-size: 2rem;
    opacity: 1;
    animation: blink 0.7s steps(1) infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.projects {
    background-color: rgb(67, 67, 67);
    padding-top: 2.5%;
    text-align: center;
    padding-bottom: 4%;
    // align-items: center;
}

.learn-more p {
    letter-spacing: 2px;
}

// .multi-col-modal {
//     display: flex;
//     justify-content: space-between;
//     flex-wrap: wrap;
//     max-width: fit-content;
// }

// .col {
//     flex: 0 0 33.3%;
//     padding: 10px;
//     text-align: center;
//     position: relative;
//     box-sizing: border-box;
//     max-width: 100%;
//     // flex-direction: column;
//     justify-content: center;
//     align-items: center;
// }

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    overflow: auto;
    left: 50%;
    top: 50%;
    padding-top: 50px;
    width: 70%;
    height: 70%;
    justify-content: center;
    align-items: center;
    // display: flex;
    background-color: $light-color;
    transform: translate(-50%, -50%);
}

.work-items {
    display: flex;
    flex-direction: column;
    // align-items: stretch;
    width: 100%;
    overflow: hidden;
}

.work-item {
    margin-bottom: 20px;
    overflow: hidden;
}

.caption-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    // overflow: hidden;
    gap: 5%;
    padding: 0 5%;
    box-sizing: border-box;
}

.caption-wrapper .image {
    flex: 0 0 50%;
    max-width: 50%;
    height: auto;
    cursor: pointer;
    // border-radius: 8px;
    overflow: hidden;
    border: 2px solid $light-color;
    
}

.caption-wrapper .caption {
    // margin-right: 5%;
    flex: 1;
    // max-width: 40%;
    overflow: hidden;
    border: 2px solid $light-color;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.caption-wrapper .caption h3 {
    margin-top: 0;
    font-size: 2em;
    font-weight: 800;
    color: $light-color;
}

.caption-wrapper .caption p {
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: 600;
    color: $light-color;
}

.modal-content {
    margin: auto;
    display: block;
    width: auto;
    height: auto;
    position: relative;
    overflow: auto;
    border: none;
    color: $dark-color;
    padding-bottom: 15px;
}

.modal-content-pdf {
    margin: auto;
    display: block;
    width: 80%;
    height: 80%;
    // position: relative;
    overflow: auto;
    border: none;
    color: $dark-color;
}

.modal-content-arista {
    margin: auto;
    display: block;
    width: auto;
    height: 80%;
    // position: relative;
    overflow: auto;
    border: none;
}

.modal-caption {
    color: $dark-color;
    padding: 10px;
    text-align: center;

}

.modal-caption h2 {
    font-weight: 800;
    font-style: italic;
    letter-spacing: .25em;
}

// .modal-caption p {
//     font-weight: 600;
//     font-style: italic;
//     letter-spacing: .15em;
// }

.caption {
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    background-color: $dark-color;
    color: $light-color;
    padding: 8px;
    border-radius: 3px;
    letter-spacing: 2px;
    font-weight: 600;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 30px;
    cursor: pointer;
    color: $dark-color;
}

.image {
    width: 100%;
    height: auto;
    cursor: pointer;
    border-radius: 5px;
}

.video-sect {
    background-color: rgb(147, 126, 158);
    text-align: center;
    padding: 20px;
    padding-top: 2%;
    padding-bottom: 5%;
}

video {
    border: 5px solid $dark-color;
    max-width: 100%;
}

footer {
    // width:100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 20px;
    background-color: $dark-color;
    color: $light-color;
    text-align: center;
    padding-bottom: 5%;
}

.dropDown span {
    display: inline-block;
    opacity: 0;
    transform: translateY(-50px);
    letter-spacing: .25em;
    padding-bottom: 1em;
}

.dropDown.animate span {
    animation: drop 0.5s forwards;
}

.dropDown.animate span:nth-child(1) {
    animation-delay: 0.2s;
}

.dropDown.animate span:nth-child(2) {
    animation-delay: 0.4s;
}

.dropDown.animate span:nth-child(3) {
    animation-delay: 0.6s;
}

@keyframes drop {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10em;
}

.icon {
    text-align: center;
}

.icon i {
    font-size: 2em;
    padding: 3%;
    color: $light-color;
}

.icon p {
    margin: 0;
    letter-spacing: 1px;
}

.fa-instagram::before {
    content: "\f16d";
}

.fa-linkedIn::before {
    content: "\f08c";
}

.fa-git::before {
    content: "\f09b";
}

#backToTop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 1000; /* Make sure it does not overlap */
    font-size: 18px; /* Increase font size */
    border: 2.6px solid $dark-color; /* Remove borders */
    background-color: #ece9f4;
    color: $dark-color; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

#backToTop:hover {
    background-color: #b098c5; /* Add a hover effect */
}   